#Style {
  
    text-align: center;
    font-family: Arial, Helvetica, sans-serif, Georgia, 'Times New Roman', Times, serif ;
    

}

#titulo{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;

}

body{
    background-color: transparent;
    background-image:url(https://www.xtrafondos.com/wallpapers/resized/ciudad-nocturna-en-arte-neon-3474.jpg?s=large);
    
}